<div class="align-items-center">
      <h1>Login to Your Account</h1><br>
      <form (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
        <input type="text" name="user" [(ngModel)]="user.name" placeholder="Username">
          </div>
         <div class="form-group">
        <input type="password" name="pass" [(ngModel)]="user.password" placeholder="Password">
           </div>
         <div class="form-group">
           <button type="submit" class="btn btn-success">Submit</button>
         </div>
      </form>

      <div class="login-help">
        <a [routerLink]="['/reg']">Register</a>
      </div>
  </div>
