<div id="wrapper">
  <div id="menu">
    <h3 class="name">{{name}} <b></b></h3>
    <div style="clear:both"></div>
  </div>

  <div id="chatbox">
    <div *ngIf="hismsg.length > 0">
      <div *ngFor="let message of hismsg">
        {{message }}
      </div>
    </div>
    <div *ngIf="messages.length > 0">
      <div *ngFor="let message of messages">
        {{message }}
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" [(ngModel)]="message" name="msg" class="form-control input-sm" placeholder="Type your message here..." />
      <span class="input-group-btn">
        <button class="btn btn-warning btn-sm">
          Send
        </button>
      </span>
    </div>
      </form>
  </div>
</div>
